include includes/head.pug
main
  div.container
    each record in data
      div.row
        div.col
          div.issue-card.bg-light.d-flex.justify-content-between.mt-4.shadow-sm.rounded
            div.issue-info.d-flex.flex-column.justify-content-between.w-50
              h6.issue-number.p-1.font-light.text-primary
                a(href='/issues/' + record._id) ISSUE-#{record._id}
                if record.open
                  span.badge.badge-danger.font-weight-normal Open
                else
                  span.badge.badge-success.font-weight-normal Closed
                -let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                span.font-weight-light.text-black-50.p-1 #{record.created_on.getDate()} #{months[record.created_on.getMonth()]} of #{record.created_on.getFullYear()} 
              span.issue-title.font-weight-bold.p-1 #{record.issue_title}             
              span.issue-author.font-weight-light.p-1 #{record.created_by}              
            div.issue-assign.d-flex.align-items-end.ml-auto.w-25
              span.assign-text.p-2.font-weight-bold Assigned to:
              if record.assigned_to == ''
                span.assign-name.p-2.font-weight-light None
              else
                span.assign-name.p-2.font-weight-bold #{record.assigned_to}   
            div.issue-buttons.d-flex.align-items-center
              a(href="/issues/" + record._id, data-toggle="popover", data-content="Show an issue", data-trigger="hover").btn.btn-primary.p-1.m-1
                i.fas.fa-search
              a(href="/edit/" + record._id, data-toggle="popover", data-content="Edit issue", data-trigger="hover").btn.btn-warning.p-1.m-1.text-white
                i.far.fa-edit
              button(data-toggle="modal", data-target="#deleteModal", id=record._id).btn.btn-danger.p-1.m-1.mr-2.delete
                i(data-toggle="popover", data-content="Delete issue", data-trigger="hover").fas.fa-trash-alt
include includes/footer.pug
include includes/modal.pug
script(src="/public/app.js")